* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fafafa;
  background-color: #18181b;
  font-family: 'Sono', sans-serif;
  padding: 0px 64px 0px;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.disputed {
  color: #ef4444;
  font-weight: 600;
  margin-right: 10px;
  text-shadow: 0 0 5px rgba(239, 68, 68, 0.7), 0 0 10px rgba(239, 68, 68, 0.6);
  animation: disputed 0.1s ease-in-out infinite alternate;
}

@keyframes disputed {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.long {
  color: #ef4444;
}

.message {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  background-color: #27272a;
  padding: 16px 32px;
  border-radius: 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: message 0.5s ease-in-out;
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-dotLoader::after {
  content: '.';
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: transparent;
    text-shadow: 0.5em 0 0 transparent, 1em 0 0 transparent;
  }
  40% {
    color: #fafafa;
    text-shadow: 0.5em 0 0 transparent, 1em 0 0 transparent;
  }
  60% {
    text-shadow: 0.5em 0 0 #fafafa, 1em 0 0 transparent;
  }
  80%,
  100% {
    text-shadow: 0.5em 0 0 #fafafa, 1em 0 0 #fafafa;
  }
}

.message-barLoader {
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.message-barLoader p {
  margin-top: 2rem;
  width: 60%;
  height: 16px;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
}

.message-barLoader p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 48px - 68px - 40px);
}

section {
  overflow: scroll;
  padding-bottom: 40px;
}

section::-webkit-scrollbar {
  display: none;
}

section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.post {
  font-size: 20px;
  line-height: 1.4;
  background-color: #27272a;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  animation: post 0.5s ease-in-out;
}

@keyframes post {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .post {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #52525b;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #18181b;
}

.vote-buttons button:disabled {
  background-color: #18181b;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #71717a;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(
    135deg,
    #3b82f6,
    #ef4444,
    #db2777,
    #f97316,
    #8b5cf6
  );
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-large:disabled {
  background-image: linear-gradient(135deg, #52525b, #52525b, #52525b, #52525b);
  transform: scale(100%) rotate(0deg);
  cursor: not-allowed;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
.post-form {
  background-color: #27272a;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.post-form input,
.post-form select {
  width: 220px;
  border: none;
  background-color: #52525b;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.post-form input::placeholder {
  color: #a1a1aad7;
}

.post-form input:first-child {
  flex-grow: 1;
}

.post-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 16px;
  }

  .main {
    grid-template-columns: 1fr;
    height: auto;
  }

  section {
    height: calc(100vh - 48px - 68px - 40px - 40px + 1px);
    overflow: none;
  }

  h1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .post-form {
    flex-direction: column;
    align-items: stretch;
  }

  .post-form input,
  .post-form select {
    width: auto;
  }
}
