*{margin: 0; padding: 0;font-family: 'Old Standard TT', serif;}
.container{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: 30vw;
     grid-template-rows: repeat(3,10vh) 5vh repeat(2,10vh);
     grid-gap: 10px;
     
}
body{
    background: rgb(12, 67, 95);
}

h1{
    text-align: center;
    color: white;
}
.submit-btn{
    background-color: rgb(29, 124, 114);
}
.bmi-value{
    background-color: rgb(255, 255, 0);
    display: grid;
    grid-template-rows: 50% 50%;
}
.status{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.container > div{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
button,input{
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
}
input {
    background: white;
    text-indent: 0.5em;
    max-width: 2000%; 
    color: black;
    outline: none;
    box-sizing: border-box;
}

button{ 
    
    cursor: pointer;
    margin: 0 23px;
    padding: 10px 10px ;
    background-color: rgb(218, 155, 218);
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    padding: 0.8em 1.5em;
    border-radius: 20em;
    border: none;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 100ms linear;
    color: #0ebac5;
    position: relative;
    box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
    0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px 10px ;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 23px;
}
