body {
  margin: 0;
  padding: 0;
  background-color: #c285ff; /* Light gray background */
  font-family: "Helvetica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ad2ed; /* A blue-green background color */
  border: 2px solid #21272a; /* A darker border */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Slightly stronger box shadow */
  padding: 20px;
  max-width: 600px;
}


.quoteContainer {
  max-width: 500px;
}

.quote {
  font-size: 29px;
  font-weight: bold;
  color: #333; /* Dark gray text color */
  margin-bottom: 10px;
  /* background-color: green; */
  margin-bottom: 20px;
  font-family: 'Young Serif', serif;
}

.author {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  color: #666; /* Slightly lighter gray text color */
  margin-bottom: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;

}

.btn-container {
  display: flex;
  /* width: 50px;
  height: 30px; */
  justify-content: center;
  align-items: center;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 10px;
  margin-left: 5px;
}

.icon-arrow {
  width: 20px;
  margin-left: 6px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    max-width: 100%;
    padding: 10px;
    margin: 0px 10px;
  }
  
  .quote {
    font-size: 22px;
  }
  
  .author {
    font-size: 20px;
  }
  
  .btn-content {
    padding: 8px 16px;
    font-size: 14px;
  }
}
