MONGO_URL =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_VERIFY_MAIL_SECRET_KEY=xxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=xxxxxxxxxxxxxxxxx
JWT_ACCESS_KEY=xxxxxxxxxxxxxxxxx
EMAIL_FROM=xxxxxxxxxxxxxxxxxxxx
EMAIL_PASS=xxxxxxxxxxxxxxxxxxxxxxx
EMAIL_USER=xxxxxxxxxxxxxxxxxxxxxx