.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color:rgb(228, 228, 228);
    border-bottom-width:1px;
    z-index:100;
}
.hamburger-menu{
    height:24px;
    margin-left:24px;
    margin-right:20px;
    cursor:pointer;
}

.youtube-logo{
    height:20px;
}
.left-section{
    display:flex;
    align-items:center;

}
.middle-section{
    
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    display:flex;
    align-items:center;

}
.search-icon{
    height:25px;
    cursor:pointer;
    
}
.search-bar{
    flex:1;
    height:36px;
    padding-left:12px;
    font-size:16px;
    border-width:1px;     
    border-style:solid;
    border-color:rgb(192, 192, 192);
    border-radius:2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}

.search-bar::placeholder{
    font-family:Roboto,Arial;
    font-size:16px;
} 
.search-button{
    height:40px;
    width:66px;
    background-color:rgb(240,240,240);
    border-width:1px;
    border-style:solid;
    border-color:rgb(192, 192, 192);
    margin-left:-1px;
    margin-right:10px;
    margin-top:1px;
    margin-bottom:0.8px;
    position:relative;
}
.voice-search-icon{
    height:24px;
   
}

.voice-search-button{
    height:40px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color:rgb(245,245,245);
    cursor:pointer;


}
.right-section{
    
    width:180px;
    margin-right:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink:0;

}

 .upload-icon{
    height:24px;
    cursor:pointer;
 }
 .youtube-apps-icon{
    height:24px;
    cursor:pointer;
 }
 .notifications-icon{
    height:24px;

 }
 .notifications-icon-container{
    position:relative;
    cursor:pointer;
 }

 .notifications-count{
    position:absolute;
    top:-2px;
    right:-5px;
    background-color: rgb(200,0,0);
    color:white;
    font-family:Roboto,Arial;
    font-size:11px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;
 }
 .current-user-picture{
    height:32px;
    border-radius:16px;
    cursor:pointer;
 }
.search-button,
.voice-search-button,
.upload-icon-container,
.uplaod-apps-container,
.notifications-icon-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
 .search-button .tooltip,
 .voice-search-button .tooltip,
 .upload-icon-container .tooltip,
 .upload-apps-container .tooltip,
 .notifications-icon-container .tooltip{
    font-family:Roboto,Arial;
    position:absolute;
    background-color: gray;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events:none;
    white-space:nowrap;
 }
 .search-button:hover .tooltip,
 .voice-search-button:hover .tooltip,
 .upload-icon-container:hover .tooltip,
 .upload-apps-container:hover .tooltip,
 .notifications-icon-container:hover .tooltip{
    opacity:1;

 }