body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: rgb(229, 229, 229);
    overflow: hidden;
}
           

.arrowbutton{
    position: absolute;
    height: 40px;
    aspect-ratio: 1;
    bottom: -15px;
    right: 15px;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    box-shadow: 3px 3px 4px rgb(121, 121, 121);
    border-radius: 10px;
    padding: 1px 2px;
    margin: 0;
}
.btnimg{
    height: 50%;width: 50%;object-fit: cover;
}

#clock{
    display: inline-block;
    position: absolute;
    top: 25.5vh;
    width: fit-content;
    height: fit-content;
    font-size: 92px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    opacity: 1;
}
#navdivmargin{
    display: inline-block;
    /* position: relative; */
    /* right: 74px;
    bottom: 5px;
    top: 10px; */
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    /* top: -1vh; */
    /* margin-bottom: 150px; */

    height: 500px;
    width: 10px;
    rotate: 90deg;
    margin-bottom: 120px;
    /* width chanegd */

}
#shortcutbar{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    height: 300px;
    width: 750px;
    padding: 0;
    margin: 0;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 45vh;
    opacity: 1;
    /* top: -12px; */
    overflow: hidden;
}
#carouselExampleIndicators{
    width: 750px;
    height: 300px;
}
.carousel-control-prev-icon{
    position: relative;
    top: -30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23708090'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon{
    position: relative;
    top: -30px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23708090'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.iconflex{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 0px 75px;
    width: 598px;
}
.iconcontainers{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 112px;
    aspect-ratio: 1;
    border: 1.6px solid black;
    border-radius: 12px;
    margin: 0px 5px 10px 5px;
    padding: 0;
    background-color: rgb(217, 217, 217);
}
.sphericaliconcontainers{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70px;
    width: 70px;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    border-radius: 100%;
    overflow: hidden;
}
.icons{
    height: 60px;
    width: 60px;
    object-fit: cover;
}


.searchbar{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.525);
    position: absolute;
    top: 41.3vh;
    z-index: 2;
    height: min-content;
    padding: 0;
    margin: 0;
}

@keyframes cursorblink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#cursor{
    display: none;
    text-align: center;
    font-size: 27px;
    font-family: Verdana, sans-serif;
    font-weight:normal;
    text-align: center;
    color: black;
    width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2.5px;

    

    animation-name: cursorblink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function:steps(2);
}


img{
    display: inline-block;
    width: 0px;
    height: 230px;
    object-fit: cover;
    z-index: 1;
}

@keyframes textmove{
    from{
        /* bottom: -40px;
        left: -60px; */
        bottom: -60vh;
        left: -60vw;
    }
    to{
        /* bottom: 30px;
        left: 30px; */
        bottom: -615vh;
        left: -740vw;
    }
}
.backg{
    position: absolute;
    bottom: -60vh;
    left: -60vw;
    /* top: -10vh; */
    width: 800%;
    height: 675%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: ; */
    align-items: center;
    align-content: space-evenly;
    z-index: 0;
    animation-name: textmove;
    animation-duration: 5000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.backtextrow{
    display: flex;
    width: 800vw;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: ; */
    align-items: center;
    align-content: space-evenly;
}


.backtext{
    position: relative;
    /* height: 10%; */
    height: fit-content;
    width:fit-content;
    color: white;
    /* padding: 60px 100px; */
    font-family: sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    rotate: z -30deg;
    /* transform: translateX(20px) translateY(20px); */
    /* animation-name: textmove;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}


/* .arrowbutton:hover{
    /* transform: translateY(-15px); */
    /* bottom: 10px;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
} */ 
/* .arrow{
    height: 100px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
} */
/* .arrowhandleft{
    display: inline-block;
    position: relative;
    right: 74px;
    /* bottom: 5px; */
    /* top: 10px;
    height: 6px;
    width: 150px;
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    rotate: z -40deg;
    transform-origin: right;
}
.arrowhandright{
    display: inline-block;
    position: relative;
    left: 74px;
    height: 6px;
    width: 150px;
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    rotate: z 40deg;
    transform-origin: left;
}
.arrowhandleft:hover{
    transform: rotateZ(40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
.arrowancleft{
    display: inline-block;
    position: absolute;
    /* right: 74px;
    /* bottom: 5px; */
    /* top: 10px; */ 
    /* height: 6px;
    width: 150px;
    border: 2px solid black;
    rotate: z 40deg;
    transform-origin: left;
} */
  
