*{
    margin: 0px;
    padding: 0px;
    box-sizing: border=box;
}

html {
    font-size: 20px;
}
  
  
#first-div {
    background-color: #000;
    min-height: 100vh;
}
  
#first-div-title {
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
}
  
#first-div-subtitle {
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
}

#first-div-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    max-height: 80px;
    margin-top: 20vh;
    background-color: transparent;
    clip-path: circle(50%);
}

body{
    font-family: Times,serif;
    color: white;
    background-color: black;
}

.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}

.header{
    padding: 2 rem;
    margin: 1rem 0px;
    text-align: center;
}

.header > .title{
    margin-bottom: 1rem;
}

.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1 rem;
}

.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}

.tribute img{
    max-width: 100%;
}

.bio{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}

.bio > h2{
    margin: 1 rem;
    font-size: 3rem;
    line-height: 1.2;
}

.bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
}

.bio > hr{
    margin-top: 2rem;
}

hr {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#author-text {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2vw;
  }
  
  
  